---
---
$brand-color:      #f8a541 !default;
$brand-color-secondary:      #108440 !default;

@import "{{ site.theme }}";


// Use media queries like this:
// @include media-query($on-palm) {
//   .wrapper {
//     padding-right: $spacing-unit / 2;
//     padding-left: $spacing-unit / 2;
//   }
//  }

@include media-query($on-palm) {
  header img.logo {
    height: 50px;
  }
}

@include media-query($on-laptop) {
  header img.logo {
    height: 70px;
  }
}

header img.logo {
  height: 70px;
  margin: 10pt 0;
  padding: 0;
}

.footer-col-2 {
  width: -webkit-calc(20% - (30px / 2));
  width: calc(25% - (30px / 2));
  }

.footer-col-3 {
  width: -webkit-calc(45% - (30px / 2));
  width: calc(40% - (30px / 2));
  }

  .site-nav .page-link {
    color: $brand-color-secondary;
  }

  .site-header {
    border-color: $brand-color-secondary;
  }
